

body {
background-color: antiquewhite;
}

h2 {
    color: blueviolet;
    background-color: yellowgreen;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 10%;
}
 

h1 {
    color: blueviolet;
    background-color: yellowgreen;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 10%;
}
h3 {
    color: blueviolet;
    background-color: yellowgreen;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 10%; 
}
  .menu-logo {
    width: 30px;
    margin: 0;
  }

/* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
